<ul>
  <% @bookmarks.each do |bookmark| %>
    <li class="bookmark" id="bookmark-<%= bookmark.id %>">
      <div>
        <a href="<%= bookmark.url %>">
          <%= bookmark.title %>
        </a>
        <form action="/bookmarks/<%= bookmark.id %>" method="post">
          <input type='hidden' name='_method' value='DELETE'/>
          <input type="submit" value="Delete" />
          </form>
          <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
          <input type="submit" value="Edit" />
        </form>
      </div>
    </li>
  <% end %>
</ul>
<body>
  <form action="/bookmark-form">
    <input type="submit" value="Add">
  </form>
</body>